.icon-bar {
    background-color: #FFF;
    display: flex;
    justify-content: space-between;
    padding: 24px 16px;
    align-items: center;
    gap: 32px;
    box-shadow: 0px 2px 0px 0px #D9FFF5;

    
    @media (min-width: 1000px) {
        & {
            display: none;
        }
    }

    &__list {
        display: flex;
        justify-content: space-between;
        margin: 0;
        padding: 0;
        align-items: center;
        gap: 16px;
        list-style-type: none;
        // position: relative;

        @media (max-width: 600px) {
            &--display-none {
                display: none;
            }
        }

        &--margin-auto {
            margin-left: auto;
        }

        &--gap-32px {
            gap: 32px;

            @media (max-width: 768px) {
                gap: 16px;
            }
        }
    }

    &__btn {
        @include btn-icon();
    }
    
    .btn-burger {
        background-image: url("../img/true/burger.svg");
    }
    
    .btn-repair {
        background-image: url("../img/true/repair.svg");
    }
    
    .btn-checkstatus {
        background-image: url("../img/true/checkstatus.svg");
    }
    
    .btn-call {
        background-image: url("../img/true/call.svg");
    }
    
    .btn-chat {
        background-image: url("../img/true/chat.svg");
    }
    
    .btn-profile {
        background-image: url("../img/true/profile.svg");
    }
}

.divider {
    position: relative;
    &::before {
        content: '';
        position: absolute;
        width: 2px;
        height: 32px;
        background-color: $border-slider;
        left: -16px;
    }
}

.icon-bar__item--divider {
    position: relative;
    &::before {
        content: '';
        position: absolute;
        width: 2px;
        height: 32px;
        background-color: $border-slider;
        left: 56px;
        top: 6px;

        @media (max-width: 768px) {
            display: none;
        }
    }
}


