* {
  box-sizing: border-box;
}

.services {
  margin-bottom: 70px;
}

.services-title {
  @media (max-width: 768px) {
    display: none;
  }
}

.card-title {
  display: table-cell;
  color: $bright-text;
  font-family: "TT Lakes";
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 16px;
  letter-spacing: 0;
}

.services-table {
  @media (min-width: 769px) {
    display: flex;
    flex-direction: column;
  }
}

@media (max-width: 768px) {
  .slider-3 .services__wrapper {
    display: flex;
    column-gap: 0;
    height: 245px;
  }
}

.services-slider {
  margin-bottom: 24px;
  max-height: 1000px;

  @media (min-width: 769px) {
    & {
      max-width: 1056px;
    }
  }

}
.services__slide {
  max-width: 260px;
  @media (min-width: 769px) {
    max-width: 100%;

    &:not(:first-child):not(:last-child)::after {
      content: '';
      position: absolute;
      left: 10px;
      right: 10px;
      bottom: 0;
      height: 1px;
      background-color: #EAEAEA;
    }
  }
}

.swiper-pagination-bullet-active {
  background-color: $pagination-acive !important;
}

.swiper-pagination-bullet {
  background-color: $pagination;
}

.card {
  position: relative;
  // border-radius: 5px;
  background-color: $bgColor-other;
  padding: 16px;
  gap: 30px;
  justify-content: space-between;

  @media (max-width: 768px) {
    height: 200px;
    min-width: 150px;
    max-width: 260px;
    // gap: 30px;
  }

  @media (min-width: 769px) {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr;
    // justify-content: space-between;
    height: auto;
    width: auto;
  }

  &:hover {
    background-color: $bgColor-main;
  }

  &__title {
    margin-bottom: 4px;
    color: $bright-text;
    font-family: "TT Lakes";
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 16px;
    letter-spacing: 0;

    @media (min-width: 769px) {
      display: none;
    }
  }

  &__text {
    margin-bottom: 16px;
    color: $text;
    font-family: "TT Lakes";
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: 18px;
    letter-spacing: 0.2px;

    @media (min-width: 769px) {
      margin: 0;
      width: auto;
      align-self: center;
    }
  }
}

.table-title {
  background-color: $bgColor-main;
}

.buy-btn {

    &--services {
    position: absolute;
    top: 75%;
    left: 48%;
  }
  // position: absolute;
  // top: 75%;
  // left: 48%;
  border-radius: 20px;
  border-color: transparent;
  background-color: $button-icon;
  width: 119px;
  height: 32px;
  display: flex;
  justify-content: space-between;
  @include buy-button();

  @media (min-width: 769px) {
    position: static;
    justify-self: end;
  }

  // &--services {
  //   position: absolute;
  //   top: 75%;
  //   left: 48%;
  // }

  &__text {
    text-transform: uppercase;
    color: $bgColor-other;
    font-family: "TT Lakes";
    font-size: 12px;
    font-style: normal;
    font-weight: 900;
    line-height: 24px;
    letter-spacing: -0.15px;
    margin-left: 5px;

    &::after {
      content: '';
      display: inline-block;
      margin-left: 20px;
      margin-top: 7px;
      width: 7px;
      height: 10px;
      background-image: url('../img/true/buy-btn-icon.svg');
      background-repeat: no-repeat;
      background-size: 7px 10px;
      background-position: center;
    }
  }
}

.price__paragraph {
  margin-bottom: 10px;
  font-family: TT Lakes;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.20000000298023224px;
  text-align: left;
  color: #1b1c21;
  @media (min-width: 320px) {
    width: 100%;
  }
  @media (min-width: 769px) {
    width: 53%;
  }
  @media (min-width: 1366px) {
    width: 45%;
  }
}

.price__offer {
  font-family: TT Lakes;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.20000000298023224px;
  text-align: left;
  font-weight: 700;
  color: #1b1c21;
  margin-bottom: 30px;
  cursor: pointer;

  &:hover {
    transition: color 0.3s ease;
    color: $button-icon;
  }

  &:active {
    transition: color 0.3s ease;
    color: $button-hover;
  }

  &--dropdown {
    position: relative;
    &::after {
      content: '';
      background-image: url('../img/brands/dropdown.svg');
      background-repeat: no-repeat;
      background-position: center;
      width: 24px;
      height: 24px;
      position:absolute;
    }
  }
}

