* {
  box-sizing: border-box;
}

.services {
  margin-bottom: 70px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
}

@media (max-width: 768px) {
  .slider-3 .services__wrapper {
    display: flex;
    column-gap: 0;
    height: 245px;
  }
}

.services-slider {
  margin-bottom: 10px;
  max-height: 1000px;
  width: 100%;

  @media (min-width: 768px) {
    & {
      display: none;
    }
  }

}
.services__slide {
  max-width: 260px;
}



.swiper-pagination-bullet-active {
  background-color: $pagination-acive !important;
}

.swiper-pagination-bullet {
  background-color: $pagination;
}

.card {
  position: relative;
  border: 1px solid $border-slider;
  border-radius: 5px;
  height: 200px;
  min-width: 150px;
  max-width: 260px;
  background-color: $bgColor-other;
  padding: 16px;

  &__title {
    margin-bottom: 4px;
    color: $bright-text;
    font-family: "TT Lakes";
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 16px;
    letter-spacing: 0;
  }

  &__text {
    margin-bottom: 16px;
    color: $text;
    font-family: "TT Lakes";
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: 18px;
    letter-spacing: 0.2px;
  }
}

.buy-btn {
  position: absolute;
  top: 75%;
  left: 48%;
  border-radius: 20px;
  border-color: transparent;
  background-color: $button-icon;
  width: 119px;
  height: 32px;
  display: flex;
  justify-content: space-between;
  @include buy-button();

  @media (min-width: 768px) {
    position: static;
    margin: 0 auto;
  }

  &__text {
    text-transform: uppercase;
    color: $bgColor-other;
    font-family: "TT Lakes";
    font-size: 12px;
    font-style: normal;
    font-weight: 900;
    line-height: 24px;
    letter-spacing: -0.15px;
    margin-left: 5px;

    &::after {
      content: '';
      display: inline-block;
      margin-left: 20px;
      margin-top: 7px;
      width: 7px;
      height: 10px;
      background-image: url('../img/true/buy-btn-icon.svg');
      background-repeat: no-repeat;
      background-size: 7px 10px;
      background-position: center;
    }
  }
}

.services-list {
  width: 100%;
  padding: 20px;
  display: none;
  margin-bottom: 30px;
  // padding: 16px;
  @media (min-width: 768px) {
    display: table;
  }

  &__head {
    background-color: $bgColor-main;
  }

  &__tbody {
    border-radius: 15px 15px 15px 0;
  }

  &__title {
    padding: 16px;
    width: auto;
    height: 50px;
    text-align: start;
    color: $bright-text;
    font-family: "TT Lakes";
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 16px;
    letter-spacing: 0;
  }

  &__string {
    position: relative;
    // border-bottom: 1px solid #eaeaea;
    height: 50px;
    background-color: $bgColor-other;

    &:hover {
      background-color: $bgColor-main;
    }

    &:not(:last-child)::after {
      content: '';
      position: absolute;
      left: 10px;
      right: 10px;
      bottom: 0;
      height: 1px;
      background-color: $border-slider;
    }
    
  }

  &__cell {
    padding: 16px;
    width: auto;
    height: 50px;

    color: $text;
    font-family: "TT Lakes";
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: 14px;
    letter-spacing: 0.2px;
  }
}

.price__paragraph {
  margin-bottom: 10px;
  font-family: TT Lakes;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.20000000298023224px;
  text-align: left;
  color: #1b1c21;
  @media (min-width: 320px) {
    width: 100%;
  }
  @media (min-width: 768px) {
    width: 53%;
  }
  @media (min-width: 1366px) {
    width: 45%;
  }
}

.price__offer {
  // display: flex;
  font-family: TT Lakes;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.20000000298023224px;
  text-align: left;
  font-weight: 700;
  color: #1b1c21;
  margin-bottom: 30px;
  cursor: pointer;

  &:hover {
    transition: color 0.3s ease;
    color: $button-icon;
  }

  &:active {
    transition: color 0.3s ease;
    color: $button-hover;
  }

  &--dropdown {
    position: relative;
    &::after {
      // display: block;
      content: '';
      background-image: url('../img/brands/dropdown.svg');
      background-repeat: no-repeat;
      background-position: center;
  
      // margin-right: 5px;
      width: 24px;
      height: 24px;
      position:absolute;
    }
  }
}

