.page-title {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &::before {
        content: '';
        height: 40px;
        width: 4px;
        border-radius: 0px 10px 10px 0px;
        background-color: $hightlight;
        position: absolute;
        left: 0;
        top: 16px;
    
        @media (min-width: 768px) {
          top: 32px;
        }
      }

    &__text {
        margin: 0;
        // margin-left: 30px;
    
        color: #1B1C21;
        font-size: 28px;
        font-style: normal;
        font-weight: 900;
        line-height: 40px;
        letter-spacing: -0.6px;
        font-weight: 900;
    }
}

.page-title--margin {
    margin-bottom: 32px;
}