@import './fonts.scss';
@import './variables.scss';

.page-body {
    font-family: 'TT Lakes', sans-serif;
    margin: 0;
    max-width: 1440px;
    vertical-align: middle;
    margin-right: auto;
    margin-left: auto;
    box-sizing: border-box;
    overflow-x: hidden;

    &--modal-open {
        overflow: hidden;
    }
}

.page-main {
    background-color: $bgColor-main; 
    font-family: 'TT Lakes';
}

.page-logo {
    background-image: url("../img/true/logo.svg");
    background-size: 97px 51px;
    width: 100px;
    height: 55px;
    background-position: center;
    background-repeat: no-repeat;
    border: none;
    background-color: #fff;
    cursor: pointer;
}