$bgColor-main: #F8F8F8;
$bgColor-table: #e0e0e0;
$button-icon: #FF3E79;
$button-hover: #ff91b2;
$button-active: #ea3b70;
$text: #1B1C21;
$bright-text: #7E7E82;
$bgColor-other: #fff;
$border-slider: #EAEAEA;
$pagination-acive: #B5B6BC;
$pagination: #b9b9b9;
$border-title: #D9FFF5;
$select: #B8FFEC;
$hightlight: #41F6D7;
$link-hover: #00ffd5;

$active-link: #c2c2c2;